extends layout.pug
    
block content
    h1 Welcome! #{user.id} ✨
    img(src=user.images[0].url, class='circular_image')

    table
      each p in playlists
        tr
          - var playlist_name = p.name
          td: a(href='/generate_recs?playlist_id=' + p.id) 
              button(type="button") add to #{playlist_name}
