extends layout.pug
    
    
block content
    body
      h1 Recommendations
      - var rec_artist = recommended_song.artists[0].name
      - var rec_name = recommended_song.name
      - var rec_image = recommended_song.album.images[1].url
      - var track_preview = recommended_song.preview_url

      img(src = rec_image)
      h1 #{rec_name}
      h2 #{rec_artist}
      a(href=track_preview) Preview      
      a(href='/update_recs?add=t', class = 'button rec_button accept')
        button(class="button") √
      div(class = "divider")
      a(href='/update_recs?add=f', class = 'button rec_button decline')
        button(class="button") X