


html > * {
  color: #FFFFFF;
  background-color: #191414;
}

body {
  display: table;
  margin: auto;
  align-items: center;
  width: 50%
}

ul.footer {
  list-style:none;
  display:inline;
}

ul.footer li {
  display:inline;
  margin-right: 1em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td {
  border: 0px solid #ddd;
  padding: 12px;
  padding-left: 10px;
}

.circular_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.rec_button {
  padding: 10px;
  border-radius: 15px;
}

.accept:hover {
  box-shadow: 0 5px 15px #1DB954;
}

.decline:hover {
  box-shadow: 0 5px 15px #f84600;
}

.divider{
  width:50px;
  display:inline-block;
}
